<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-item no-padding lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="txtEmail" type="text"></ion-input>
    </ion-item>

    <ion-item no-padding lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="txtPassword" type="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button (click)="login()" type="submit" color="primary" style="width:50%;">Log In</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">
        <span>New User? </span>
        <a (click)="toRegis()" class="small-text">Register Here</a>
      </ion-col>
    </ion-row>

</ion-content>