<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 5px;">
    <center>Click to Move the Marker</center>
  </div>
  <div #map id="map"></div>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input [(ngModel)]="txtDesc" placeholder="Where Are You Right Now?"></ion-input>
  </ion-item>
  <ion-button color ="danger" expand="full" (click)="checkIn()">Check In</ion-button>
</ion-content>
